extends layout

block content
  table(class="logocontainer")
    tr  
        td
            img(class="logo")
  hr
  table(cellspacing="2",cellpadding="3")
           tr
                td
                    span Look For:
                td
                    select(id="ddlTypeOfMedia")
                td  
                    span Path:
                td
                    input(type="text", name="dirLocation",size="100") 
                    input(type="button",name="findFiles",value="Find")
                td
                    img(class="caston" , src="../images/casticon_on.png") 

  
  div.player
    table(cellspacing="3",cellpadding="3",width="100%")
        tr
            td
                span.playerHeader
                hr
        tr
            td
                table(width="100%")
                    tr
                       td(width="5%")
                          img.mediacontrol(id="imgStop", src="../images/stop.png")
                          &nbsp;&nbsp;
                          img.mediacontrol(id="imgPlayPause", src ="../images/pause.png")
                       td(width="90%")
                          div(id="progressbar", style="height:20px")
  br
  h4.headerFiles
  div.files