extends layout

block content
  table(class="logocontainer")
    tr  
        td
            img(class="logo")
  hr
  div
    table(cellspacing="3",cellpadding="1")
           tr
               
                td
                    select(id="ddlTypeOfMedia", name="ddlTypeOfMedia")
                        option(value="video" selected="selected") Videos
                        option(value="audio") Songs
                        option(value="image") Photos


               
                td
                    input(type="text",placeholder="Enter Path", name="dirLocation",size="80") 
                td
                    input(type="button", name="findFiles",value="Find")
                td
                    img(class="caston" , src="../images/casticon_on.png") 

  
  div.player
    table(cellspacing="3",cellpadding="3",width="100%")
        tr
            td
                span.playerHeader
                hr
        tr
            td
                table(width="100%")
                    tr
                       td(width="5%")
                          img.mediacontrol(id="imgStop", src="../images/stop.png")
                          &nbsp;&nbsp;
                          img.mediacontrol(id="imgPlayPause", src ="../images/pause.png")
                       td(width="90%")
                          div(id="progressbar", style="height:20px")
  br
  table
    tr
        td
            h4.headerFiles
        td  
            img.playselected(id='playselected', alt='Play Selected')
  div.files